.Card {
  padding: 2rem 1rem;
  height: 20rem;
  width: 18rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.DateContainer {
  margin-bottom: 1rem;
  color: blue;
}

.TitleContainer {
  margin-bottom: 1rem;
}

.ImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 13rem;
  overflow: hidden;
  position: relative;
}

.SlideContainer {
  position: absolute;
}
